# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1. Встановлюємо Doxygen на сервер GitHub
      - name: Install Doxygen
        run: sudo apt-get update && sudo apt-get install -y doxygen

      # 2. Генеруємо документацію, використовуючи файл у папці docs
      - name: Generate Documentation
        run: doxygen docs/Doxyfile

      - name: Setup Pages
        uses: actions/configure-pages@v5

      # 3. Завантажуємо папку html, яку створив Doxygen
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Якщо в Doxyfile OUTPUT_DIRECTORY = ../, то папка html буде в корені
          path: './html'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4